.c-menu-page {
    &__menu-locations {
        margin-bottom: $global-spacing-huge;
    }
    &__menu-names,
    &__menu-block {
        display: none;
        &--active {
            display: block;
        }
    }
}
