.u-title {
    @include title();
    @each $_size-name, $_size-px in $list-font-sizes {
        &--#{$_size-name} {
            $_font-spacing: text-default($_size-name, spacing);
            @include title(#{$_size-name}, #{$_font-spacing});
        }
    }
}

.u-content {
    @include content();
    @each $_size-name, $_size-px in $list-font-sizes {
        &--#{$_size-name} {
            $_font-spacing: text-default($_size-name, spacing);
            @include content(#{$_size-name}, #{$_font-spacing});
        }
    }
}

.u-link {
    @include link();
}

// Alignment helpers
.u-text-center {
    text-align: center;
    &--mobile-only {
        @include mq($until: device) {
            text-align: center;
        }
    }
}

// Style helpers
.u-capitalize {
    text-transform: capitalize;
}

.u-text-shadow {
    text-shadow: $global-text-shadow;
}

// Weight helpers
.u-bold {
    font-family: $font-family-content-bold;
}
