.u-hide {
    display: none;
    @each $_breakpoint, $_screensize in $mq-breakpoints {
        &-from {
            &-#{$_breakpoint} {
                @include mq($from: $_breakpoint) {
                    display: none !important;
                }
            }
        }
        &-until {
            &-#{$_breakpoint} {
                @include mq($until: $_breakpoint) {
                    display: none !important;
                }
            }
        }
    }
}

.u-h-center {
    @include h-center();
}

@each $_columns in $inuit-fractions {
    .u-columns--#{$_columns} {
        column-count: #{$_columns};
    }
}
