// Use to unpack variables from the global font defaults map
// e.g. @include title('medium', text-default('medium', spacing));
@function text-default($args...) {
    @return map-deep-get($list-font-sizes, $args...);
}

@mixin title($_size: 'base', $_spacing: normal, $_weight: 300, $_transform: none) {
    @include text($font-family-header, $_spacing, $_weight, $_transform);

    $_font-size: text-default($_size, size);
    @if($_font-size) {
        @include font-size($_font-size);
    }
}

@mixin content($_size: 'base', $_spacing: 0.5px, $_weight: 300, $_transform: none, $_line-height: auto) {
    $_font: $font-family-content;
    @if($_weight == bold) {
        $_font: $font-family-content-bold;
    }

    @include text($_font, $_spacing, $_weight, $_transform);

    $_font-size: text-default($_size, size);
    @if($_font-size) {
        @include font-size($_font-size, $_line-height);
    }
}

@mixin link($_size: 'small', $_spacing: 3px, $_weight: bold, $_transform: uppercase, $_decoration: none) {
    $_font: $font-family-content;
    @if($_weight == bold) {
        $_font: $font-family-content-bold;
    }

    @include text($_font, $_spacing, $_weight, $_transform, $_decoration);
    color: $color-primary;
    &:hover {
        color: $color-grey-dark;
    }

    $_font-size: text-default($_size, size);
    @if($_font-size) {
        @include font-size($_font-size);
    }
}

// Do not use the following explicitly. Use one of the above
@mixin text($_font-family: $font-family-content, $_spacing: normal, $_weight: normal, $_transform: none, $_decoration: none) {
    font-family: $_font-family;
    font-weight: $_weight;
    letter-spacing: $_spacing;
    text-decoration: $_decoration;
    text-transform: $_transform;
}
