/**
 * Theme Name: Aubaine Theme
 * Author: Hex Digital
 * Author URI: http://www.hexdigital.com
 * Description: A WordPress theme for Aubaine, built by Hex Digital.
 * Version: 1.0
 */


.c-form__dropdown {
	display: none;
}

@media only screen and (max-width: 450px) {
	.o-layout-block__item{
		padding-bottom: 150%;
	}
}