$_align-items: baseline flex-start flex-end center stretch;
$_align-self: baseline flex-start flex-end center stretch;
$_justify-content: flex-start flex-end center space-around space-between;

.o-flex {
    display: flex;
    &--wrap {
        flex-wrap: wrap;
    }
    &--column {
        flex-direction: column;
    }
    @each $_alignment in $_align-items {
        &--align-#{$_alignment} {
            align-items: $_alignment;
        }
    }
    @each $_alignment in $_align-self {
        &--self-#{$_alignment} {
            align-self: $_alignment;
        }
    }
    @each $_justify in $_justify-content {
        &--justify-#{$_justify} {
            justify-content: $_justify;
        }
    }
}
