.pika {
    $_this: &;

    &-single {
        background: transparent;
        border-color: $color-primary;
        border-radius: 0;
        border-style: solid;
        border-width: 4px;
        color: $color-primary;
        display: block;
        transform: translateY(-4px);
        z-index: z(aboveAll);
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both
        }
        &.is-hidden {
            display: none;
        }
        .c-form__field--white & {
            border-color: $color-white;
            color: $color-white;
        }
    }
    &-lendar {
        float: left;
        width: 212px;
        margin: $global-spacing-base;
    }
    &-title {
        @include content('small', normal, bold);
        position: relative;
        text-align: center;
    }
    &-label {
        @include content('base', normal, bold);
        display: inline-block;
        margin: 0;
        overflow: hidden;
        padding: 5px 3px;
        position: relative;
        z-index: z(aboveAll);
    }
    &-title select {
        cursor: pointer;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 5px;
        z-index: z(aboveAll);
    }
    &-prev,
    &-next {
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 75% 75%;
        border: 0;
        cursor: pointer;
        display: block;
        height: 30px;
        opacity: .5;
        overflow: hidden;
        outline: none;
        padding: 0;
        position: absolute;
        text-indent: 20px; // hide text using text-indent trick, using width value (it's enough)
        top: 0;
        white-space: nowrap;
        width: 20px;
        &:hover {
            opacity: 1;
        }
        &.is-disabled {
            cursor: default;
            opacity: 0;
        }
    }
    &-prev { // Arrow to change
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
        float: left;
        left: 0;
    }
    &-next { // Arrow to change
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
        float: right;
        right: 0;
    }
    &-select {
        display: inline-block;
    }
    &-table {
        border: 0;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        th,
        td {
            padding: 0;
            width: 14.285714285714286%;
            &.is-today #{$_this}-button {
                background-color: $color-grey-dark;
                color: $color-white;
            }
            &.is-selected #{$_this}-button {
                background-color: $color-white;
                color: $color-grey-dark;
            }
            &.is-disabled #{$_this}-button {
                opacity: .2;
            }
        }
        th {
            @include content('small', normal, normal);
            color: inherit;
            text-align: center;
            abbr {
                border-bottom: none;
                cursor: help;
                text-decoration: none;
            }
        }
    }
    &-button {
        @include content('base', normal, bold);
        background-color: transparent;
        border: 0;
        box-sizing: border-box;
        color: inherit;
        cursor: pointer;
        display: block;
        margin: 0;
        outline: none;
        padding: 5px;
        text-align: center;
        width: 100%;
        &:hover {
            background-color: $color-grey-lighter;
        }
    }
}
