.o-layout-block {
    $_this: &;
    $_stackAt: palmTweakHomeBlock;
    $_stackTripleAt: desk;

    height: 0;
    margin: 5px 0;
    width: 100%;
    @include mq($from: device) {
        padding-bottom: 100%;
    }
    @include mq($from: $_stackAt) {
        padding-bottom: 50%;
    }
    & ~ & {
        margin-top: -10px; // 20px gap between sequential layouts
    }
    &--reverse {
        #{$_this}__item {
            float: right;
        }
    }

    &--fluid {
        &,
        #{$_this}__item {
            height: 100%;
            padding-bottom: 0;
            //padding: 0;
        }
    }

    &__item {
        $_item: &;
        float: left;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        width: 100%;
        &--content-only,
        &--decorative,
        &--bg-color {
            @include mq($until: $_stackAt) {
                height: auto;
                padding-bottom: 0;
            }
            #{$_this}__content {
                @include mq($until: $_stackAt) {
                    height: auto;
                    position: relative;
                }
            }
        }
        &--content-only {
            @include mq($until: $_stackAt) {
                margin: $global-spacing-large 0;
            }
        }
        &:not(#{$_item}--content-only) {
            &,
            & .c-text-block__header {
                color: $color-white;
            }
        }
        &--decorative,
        &--decorative-small {
            .c-text-block {
                @include mq($from: $_stackAt) {
                    padding-top: 100px;
                }
            }
        }
        &--no-pb {
            padding-bottom: 0 !important;
        }
        @include mq($from: $_stackAt) {
            padding-bottom: 50%;
            &#{$_item}--decorative-small {
                padding-bottom: 35%;
            }
            @include count-items(2) {
                width: 50%;
            }
            @include count-items(3) {
                @include mq($until: $_stackTripleAt) {
                    &:nth-child(1),
                    &:nth-child(2) {
                        width: 50%;
                    }
                    &:nth-child(3) {
                        padding-bottom: 35%;
                    }
                }
                @include mq($from: $_stackTripleAt) {
                    width: 50%;
                    &:nth-child(2),
                    &:nth-child(3) {
                        padding-bottom: 25%;
                    }
                }
            }
        }
    }
    &__background,
    &__content {
        height: calc(100% - 10px);
        margin: 5px;
        position: absolute;
        width: calc(100% - 10px);
    }
    &__background {
        background-size: cover;
        @include mq($until: $_stackAt) {
            background-position: 50% 40%;
        }
        &--pink-dark {
            background-color: $color-pink-dark;
        }
        &--blue-dark {
            background-color: $color-blue-dark;
        }
        &--green {
            background-color: $color-green;
        }
        &--yellow {
            background-color: $color-yellow;
        }
        &--grey {
            background-color: $color-grey;
        }
        &--purple {
            background-color: $color-purple;
        }
        .c-icon {
            fill: $color-white;
            height: 180px;
            left: 50%;
            opacity: .2;
            position: absolute;
            width: 180px;
            @include mq($until: desk) {
                display: none;
            }
            &--top-motif {
                top: 0;
                transform: translate3d(-50%, -50%, 0);
            }
            &--bottom-motif {
                bottom: 0;
                transform: translate3d(-50%, 50%, 0);
            }
        }
    }
    &__overlay {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        &--thin {
            background-color: $color-black-light;
            height: 100%;
            opacity: .5;
        }
        &--square {
            @include linear-gradient(transparent, $color-black);
            height: 50%;
            opacity: .7;
        }
    }
    &__content {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        padding: 25px;
        @include mq($from: deskTweakHomeBlockAlt) {
            padding: $global-spacing-large;
        }
        &--top {
            align-items: flex-start;
        }
        &--bottom {
            align-items: flex-end;
        }
    }
    /**
     * Notice that grid and skirt classes contain set widths and heights as well
     * as minus postioning styles. This is to meet the decorative grid design and
     * due to the nature of the build, borders need to overlap. The following elaborates
     * the pairing of sizes:
     * 
     * + Tops and left with minus value realtes to the border width.
     * + Grid arc is left 182px as that is the skirt width minus borders
     * + Grid arc width is 100% minus skirting width and respective borders.
     * + Skirting and skirt angles also have the same type of size pairing.
     */
    &__grid {
        border: $color-white 4px solid;
        display: none;
        height: calc(100% - 40px);
        margin: 20px;
        overflow: hidden;
        position: relative;
        @include mq($from: desk) {
            display: block;
        }
    }
    &__grid-arc {
        left: 182px;
        position: absolute;
        top: -4px;
        width: calc(100% - 364px);
        &:before {
            background: inherit;
            border: 4px solid $color-white;
            border-radius: 50%;
            content: '';
            display: block;
            padding-top: 100%;
            position: relative;
            width: 100%;
        }
        &:after {
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            top: 50%;
            width: 100%;
        }
    }
    &__skirt {
        border: $color-white 4px solid;
        height: calc(100% + 8px);
        position: absolute;
        top: -4px;
        width: 190px;
        &--left {
            left: -4px;
        }
        &--right {
            right: -4px;
        }
    }
    &__skirt-angle {
        border: $color-white 4px solid;
        height: 393px;
        left: -4px;
        position: absolute;
        top: -4px;
        width: calc(100% + 8px);
        &:after {
            background: $color-white;
            content: '';
            display: block;
            height: 437px;
            position: absolute;
            top: -2px;
            transform-origin: top center;
            width: 4px;
        }
        #{$_this}__skirt--left & {
            &:after {
                left: -2px;
                transform: rotate(-25deg);
            }
        }
        #{$_this}__skirt--right & {
            &:after {
                right: -2px;
                transform: rotate(25deg);
            }
        }
    }
}
