/**
 * Button Group
 * Use the button group around buttons that need to interact with each other, such
 * as hovering over one will fade out the others
 *
 * The --tight modifier allows the button borders to overlap, creating a tight button group
 * This is achieved via:
 * [1] Removing the gaps caused by line breaks in markup
 * [2] Giving the group a margin to prevent external elements overlapping the right and bottom borders
 * [3] We need a local stacking content so the z-index on the buttons doesn't stack over other parts of the website
 * [4] Giving the buttons negative margins equivalent to their border size to make them overlap
 * [5] Button needs to stack above other buttons or the border remains overlapped
 */

.o-button-group {
    $_this: &;
    &--tight {
        font-size: 0; // [1]
        margin: 0 0 4px 4px; // [2]
        position: relative;
        z-index: 1; // [3]
        #{$_this}__item {
            margin: 0 0 -4px -4px; // [4]
            @include hover() {
                position: relative;
                z-index: z(button-group-hover); // [5]
            }
            &.c-btn--active {
                position: relative;
                z-index: z(foreground);
            }
        }
    }
    &:not(#{$_this}--tight) .c-btn {
        margin: 0 $global-spacing-small;
    }
    &#{$_this}--spaced {
        .c-btn {
            margin: $global-spacing-small 25px;
            @include mq($from: device) {
                margin: 0 25px;
            }
        }
    }
}
