.o-section {
    padding-top: $global-spacing-huge;
    padding-bottom: $global-spacing-huge;
    &--nopad {
        &,
        &-top {
            padding-top: 0;
        }
        &,
        &-bottom {
            padding-bottom: 0;
        }
    }
}
