/**
 * Accordion
 * To build an accordion, start with <div class="o-accordion" />
 *
 * Inside this, you'll need a a container, and two elements, one for a header
 * and one for the content. You'll also need a checkbox inside the container
 * <div class="o-accordion">
 *     <div class="o-accordion__container">
 *         <input class="o-accordion__checkbox" id="accordion-one" type="checkbox">
 *         <label class="o-accordion__header" for="accordion-one" />
 *         <div class="o-accordion__content" />
 *     </div>
 * </div>
 *
 * The header will always be visible, while the content will toggle.
 *
 * It's advised to combine the accordion with another component, like a
 * c-content-block:
 *
 * <div class="c-content-block o-accordion">
 *     <div class="o-accordion__container">
 *         <input class="o-accordion__checkbox" id="accordion-one" type="checkbox">
 *         <label class="c-content-block__header o-accordion__header" for="accordion-one" />
 *         <div class="c-content-block__body o-accordion__content" />
 *     </div>
 * </div>
 *
 * When hidden, the accordion content height is set to 0 and padding and margin
 * is both removed. When shown, padding and margin is re-added and height set to auto.
 *
 * You can add a switch element in the header to show state of the
 * accordion item. This can be as simple as a plus and minus:
 *
 * <label class="c-content-block__header o-accordion__header" for="<?= $key ?>">
 *     <div class="o-accordion__switch o-accordion__switch--closed">+</div>
 *     <div class="o-accordion__switch o-accordion__switch--open">-</div>
 * </label>
 *
 * Lastly, the accordion can be disabled at a particular breakpoint using --limit
 * The following accordion will be normal on small screens, then at the device
 * breakpoint it will completely remove itself as if the classes weren't there.
 *
 * <div class="o-accordion o-accordion--limit o-accordion--limit-device">
 */
.o-accordion {
    $_this: &;
    $_breakpoints: (
        device
    );

    &--limit {
        @each $_breakpoint in $_breakpoints {
            @if ($_breakpoint in $mq_breakpoints) {
                &#{$_this}--limit {
                    &-#{$_breakpoint} {
                        @include mq($from: $_breakpoint) {
                            #{$_this} {
                                &__switch {
                                    display: none;
                                }
                                &__header {
                                    cursor: auto;
                                }
                                &__content {
                                    height: auto;
                                }
                            }
                        }
                        // We need to handle this inside here as well as we can't simply
                        // replace this with original values
                        @include mq($until: $_breakpoint) {
                            #{$_this} {
                                &__checkbox {
                                    display: none;
                                    &:not(:checked) {
                                        ~ #{$_this} {
                                            &__content {
                                                margin: 0; // Margin and padding still applies when height is set to 0
                                                padding: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } @else {
                @warn "Accordion breakpoint `#{$_breakpoint}` not found in global $mq_breakpoints map";
            }
        }
    }

    &--limit {
        @each $_breakpoint, $_screensize in $mq-breakpoints {
            &#{$_this}--limit {
                &-#{$_breakpoint} {
                    @include mq($from: $_breakpoint) {
                        #{$_this} {
                            &__switch {
                                display: none;
                            }
                            &__header {
                                cursor: auto;
                            }
                            &__content {
                                height: auto;
                            }
                        }
                    }
                    // We need to handle this inside here as well as we can't simply
                    // replace this with original values
                    @include mq($until: $_breakpoint) {
                        #{$_this} {
                            &__checkbox {
                                display: none;
                                &:not(:checked) {
                                    ~ #{$_this} {
                                        &__content {
                                            margin: 0; // Margin and padding still applies when height is set to 0
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__checkbox {
        display: none;
        &:not(:checked) {
            ~ #{$_this} {
                &__content {
                    #{$_this}:not(#{$_this}--limit) & {
                        margin: 0; // Margin and padding still applies when height is set to 0
                        padding: 0;
                    }
                }
            }
        }
        &:checked {
            ~ #{$_this} {
                &__header {
                    #{$_this}__switch {
                        &--closed {
                            opacity: 0;
                        }
                        &--open {
                            opacity: 1;
                        }
                    }
                }
                &__content {
                    height: auto;
                }
            }
        }
    }
    &__header {
        cursor: pointer;
        display: block;
        position: relative;
    }
    &__switch {
        @include content('medium');
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        &--closed {
            opacity: 1;
        }
        &--open {
            opacity: 0;
        }
    }
    &__content {
        height: 0;
        overflow: hidden;
    }
}
