.single-offers {
  .c-hero {
    display: none;
  }
  
  .c-detail-page {
    .o-wrapper {
      margin: 7.5rem auto 5rem;
      
      h2 {
        text-align: center;
        height: auto;
        min-height: 0;
      } // h2
  
      form.c-form--booking {
        .c-booking__column {
          width: 400px;
          
          > * {
            width: 100%;
            border-color: #333;
            color: #333;
            margin-bottom: 1rem !important;
            max-width: none;
            text-align: left;
            
            &.date-picker,
            &.time-picker {
              position: relative;
              background-image: none;
              
              &:after {
                content: "\f078";
                font-family: "Font Awesome 5 Free";
                position: absolute;
                right: 27px;
                top: 0;
                bottom: 0;
                line-height: 50px;
                color: #000;
                font-weight: 900;
                pointer-events: none;
              } // &:after
              
              &:hover {
                 cursor: pointer;
              } // &:hover
            } // &.date-picker
            
            &.o-button-group {
              .c-form__dropdown {
                position: relative;
                
                &:after {
                  content: "\f078";
                  font-family: "Font Awesome 5 Free";
                  position: absolute;
                  right: 24px;
                  top: 0;
                  bottom: 0;
                  line-height: 50px;
                  color: #000;
                  font-weight: 900;
                  pointer-events: none;
                } // &:after
              } // .c-form__dropdown
            } // &.o-button-group
            
            &.c-booking__group-text {
              text-align: center;
              font-size: 13px;
              
              a {
                text-decoration: underline;
              } // a
            } // &.c-booking__group-text
            
            input,
            .c-form__dropdown,
            .o-button-group__item {
              border-color: #333;
              color: #333;
              width: 100%;
              height: 50px;
              line-height: normal;
              text-align: left;
              
              &.js-datepicker {
                text-align: left;
              } // &.js-datepicker
            }
            
            .o-button-group__item {
              &:first-child {
                margin-bottom: 1rem;
              } // &:first-child
            } // .o-button-group__item
            
            select {
              color: #333;
              border-color: #333;
              width: 100%;
            } // select
          } // > *
          
          .pika-single {
            width: 100%;
            
            .pika-lendar {
              width: calc(100% - 40px);
            } // .pika-lendar
          } // .pika-single
          
          button.c-btn {
            background-color: #333;
            height: 50px;
            width: 100%;
            color: #fff;
            line-height: normal;
            text-align: center;
          } // button.c-btn
        } // .c-booking__column
      } // form.c-form--booking
    } // .o-wrapper
  } // .c-detail-page
} // .single-offers