.c-newsletter {
    position: relative;
    width: 700px;
    &--sidebar {
        padding: $global-spacing-huge 0;
        @include mq($until: desk) {
            display: none;
        }
    }
    &--restaurant {
        .c-btn,
        .c-form__input {
            border-color: $color-white-dark;
        }
    }
    &__form {
        display: flex;
        .c-btn {
            height: 60px;
            min-width: 160px;
            transform: translateX(-4px); // To overlap input borders
        }
        .c-form__field {
            margin-bottom: 0;
        }
    }
}
