.page-template-events-dev {
	.c-hero {
		display: none;
	}
	
	.o-wrapper {
		.o-flex {
			.location-selection-filter {
				width: calc(66% + 2px);
				margin-bottom: 1rem;
				
				&.filter-enabled {
					@media screen and (max-width: 1024px) {
						width: calc(100% - 80px);
					} // 1024px
					
					.reset {
						display: inherit;
					} // .reset
				} // &.filter-enabled
				
				.reset {
					position: absolute;
					right: 0;
					top: calc(50% - 12px);
					display: none;
					transform: translate(100%, 0);
					-webkit-transform: translate(100%, 0);
					-moz-transform: translate(100%, 0);
					-ms-transform: translate(100%, 0);
					-o-transform: translate(100%, 0);
					
					&:hover {
						i {
							cursor: pointer;
							transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
						}
						
						.reset-filter {
							cursor: pointer;
							opacity: 1;
							left: 10px;
						} // .reset-filter
					} // &:hover
					
					i {
						top: calc(50% - 8px);
						color: $color-gold;
						margin-left: 10px;
						transition: all .3s ease-in-out;
						-moz-transition: all .3s ease-in-out;
						-webkit-transition: all .3s ease-in-out;
						-ms-transition: all .3s ease-in-out;
						-o-transition: all .3s ease-in-out;
						transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
						-moz-transform: rotate(0deg);
						-ms-transform: rotate(0deg);
						-o-transform: rotate(0deg);
					} // i
					
					.reset-filter {
						position: relative;
						left: 0;
						color: $color-gold;
						top: calc(50% - 11px);
						opacity: 0;
						transition: all .3s ease-in-out;
						-moz-transition: all .3s ease-in-out;
						-webkit-transition: all .3s ease-in-out;
						-ms-transition: all .3s ease-in-out;
						-o-transition: all .3s ease-in-out;
						font-family: $font-family-content;
						
						@media screen and (max-width: 1024px) {
							opacity: 1;
							left: 10px;
						} // 1024px
					} // .reset-filter
				} // ..reset
				
				@media screen and (max-width: 1024px) {
					width: 100%;
				} // 1024px
			} // .location-selection-filter
			
			.c-content-block {
				width: 100%;
				
				&.c-detail-page__block-content--double {
					width: 100%;
					
					.o-layout__item {
						width: 100% !important;
					}
					
					.location-venues {
						display:-webkit-flex;
						display:-webkit-box;
						display:-moz-flex;
						display:-moz-box;
						display:-ms-flexbox;
						display:flex;
						flex-flow: wrap row;
						
						.location {
							-webkit-flex: 3 2 calc(33.33% - (40px / 3));
							-webkit-box-flex: 3 2 calc(33.33% - (40px / 3));
							-moz-flex: 3 2 calc(33.33% - (40px / 3));
							-moz-box-flex: 3 2 calc(33.33% - (40px / 3));
							-ms-flex: 3 2 calc(33.33% - (40px / 3));
							flex: 3 2 calc(33.33% - (40px / 3));
							margin-right: 20px;
							box-shadow: 0 2px 4px rgba(0,0,0,0.18);
							padding: 30px 30px 150px;
							background-color: #fff;
							position: relative;
							max-width: calc(33.33% - (40px / 3));
							
							&:nth-child(3n + 3),
							&:last-child {
								margin-right: 0;
							}
							
							&:nth-child(1n + 4) {
								margin-top: 20px;
							}
							
							&.filter-enabled {
								display: none;
								max-width: calc(33.33% - 20px);
								
								&.reveal {
									display:-webkit-flex;
									display:-webkit-box;
									display:-moz-flex;
									display:-moz-box;
									display:-ms-flexbox;
									display:flex;
									flex-direction: column;
								}
								
								@media screen and (max-width: 1024px) {
									max-width: calc(50% - 20px);
								} // 1024px
								@media screen and (max-width: 735px) {
									max-width: 100%;
								} // 735px
							} // &.filter-enabled
							
							@media screen and (max-width: 1024px) {
								-webkit-flex: 2 1 calc(50% - (20px / 2));
								-webkit-box-flex: 2 1 calc(50% - (20px / 2));
								-moz-flex: 2 1 calc(50% - (20px / 2));
								-moz-box-flex: 2 1 calc(50% - (20px / 2));
								-ms-flex: 2 1 calc(50% - (20px / 2));
								flex: 2 1 calc(50% - (20px / 2));
								max-width: calc(50% - (20px / 2));
								
								&:nth-child(1n + 3) {
									margin-top: 20px;
								} // &:nth-child(1n + 3)
								
								&:nth-child(3n + 3) {
									margin-right: 20px;
								} // &:nth-child(3n + 3)
								
								&:nth-child(2n + 2) {
									margin-right: 0;
								} // &:nth-child(2n + 2)
							} // 1024px
							@media screen and (max-width: 735px) {
								-webkit-flex: 1 1 100%;
								-webkit-box-flex: 1 1 100%;
								-moz-flex: 1 1 100%;
								-moz-box-flex: 1 1 100%;
								-ms-flex: 1 1 100%;
								flex: 1 1 100%;
								max-width: 100%;
								margin: 1em 0 0 !important;
								
								&:first-child {
									margin-top: 0 !important;
								} // &:first-child
							} // 735px
							
							&-header {
								border-bottom: 1px solid #EDEDED;
								margin-bottom: 1rem;
								
								h3 {
									font-size: 20px;
									color: $color-gold;
									font-family: $font-family-header;
									letter-spacing: 5px;
									text-transform: uppercase;
									margin-bottom: 1rem;
								} // h3
								
								span {
									font-size: 14px;
									font-family: $font-family-content;
									font-weight: 300;
									color: #000;
									margin-bottom: 1rem;
									display: block;
								} // span
							} // &-header
							
							&-description {
								padding-bottom: 1rem;
								margin-bottom: 1rem;
								border-bottom: 1px solid #EDEDED;
								font-family: $font-family-content;
								color: #000;
								line-height: 21px;
								letter-spacing: 1px;
								
								.location-desc-container {
									height: 84px; // Default height
									transition: height .35s ease-in-out;
									-moz-transition: height .35s ease-in-out;
									-webkit-transition: height .35s ease-in-out;
									-ms-transition: height .35s ease-in-out;
									-o-transition: height .35s ease-in-out;
									overflow: hidden;
								} // .location-desc-container
								
								.read-more {
									text-align: right;
									position: relative;
									font-size: 14px;
									color: #000;
									letter-spacing: 1px;
									font-family: $font-family-content;
									line-height: 21px;
									display: block;
									margin-top: 1rem;
									
									&.reveal {
										&::after,
										&:after {
											content: "\f077";
										}
									} // &.reveal
									
									&:hover {
										cursor: pointer;
									} // &:hover
									
									&::after,
									&:after {
										transition: height .35s ease-in-out;
										-moz-transition: height .35s ease-in-out;
										-webkit-transition: height .35s ease-in-out;
										-ms-transition: height .35s ease-in-out;
										-o-transition: height .35s ease-in-out;
										line-height: 21px;
										font-weight: 900;
										content: "\f078";
										font-family: 'Font Awesome 5 Free';
										color: #000;
										padding-left: 10px;
									}
								} // .read-more
							} // &-description
							
							&-meta {
								&--contact {
									margin-bottom: 1rem;
									
									> div {
										margin-bottom: 1rem;
										
										&:first-child {
											margin-top: 1rem;
										}
										
										&:last-child {
											margin-bottom: 0;
											padding-bottom: 1rem;
											border-bottom: 1px solid #EDEDED;
										}
									}
									
									span {
										color: #000;
										text-decoration: none;
										
										a {
											color: #000;
											text-decoration: none;
										} // a
									} // span
									
									a {
										color: #000;
										font-family: $font-family-content;
										letter-spacing: 1.2px;
										text-decoration: none;
										
										&:hover {
											text-decoration: underline;
										} // &:hover
									} // a
								} // &--contact
								
								&--seating {
									display:-webkit-flex;
									display:-webkit-box;
									display:-moz-flex;
									display:-moz-box;
									display:-ms-flexbox;
									display:flex;
									flex-flow: wrap row;
									
									.area {
										-webkit-flex: 1 1 100%;
										-webkit-box-flex: 1 1 100%;
										-moz-flex: 1 1 100%;
										-moz-box-flex: 1 1 100%;
										-ms-flex: 1 1 100%;
										flex: 1 1 100%;
										max-width: 100%;
										margin: 25px 0 0;
										
										&:first-child {
											margin-top: 0;
										} // &:first-child

										@media screen and (max-width: 1100px) {
											-webkit-flex: 1 1 100%;
											-webkit-box-flex: 1 1 100%;
											-moz-flex: 1 1 100%;
											-moz-box-flex: 1 1 100%;
											-ms-flex: 1 1 100%;
											flex: 1 1 100%;
											max-width: 100%;
											padding: 0 !important;
											margin: 25px 0 0 !important;
											
											&:first-child {
												margin-top: 0 !important;
											} // &:first-child
										} // 1100px
										
										span {
											color: #000;
											margin-bottom: .5rem;
											display: block;
											line-height: 18px;
										} // span
										
										p {
											margin-bottom: 0;
											color: #656565;
											letter-spacing: 1.2px;
											line-height: 19px;
										} // p
									} // .area
								} // &--seating
							} // &-meta
							
							&-button {
								clear: both;
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								
								a {
									line-height: 60px;
									color: #fff;
									text-align: center;
									text-transform: uppercase;
									font-family: $font-family-content-bold;
									letter-spacing: 2px;
									background-color: $color-green;
									display: block;
									text-decoration: none;
									transition: all .4s ease-in-out;
									-moz-transition: all .4s ease-in-out;
									-webkit-transition: all .4s ease-in-out;
									-ms-transition: all .4s ease-in-out;
									-o-transition: all .4s ease-in-out;
									
									&:nth-child(2) {
										background-color: #fff;
										color: $color-green;
										
										&:hover {
											background-color: $color-green;
											color: #fff;
										} // &:hover
									} // &:nth-child(2)
									
									&:hover {
										background-color: $color-green-dark;
									} // &:hover
								} // a
							} // &-button
							
							.o-media__img {
								margin-right: 12px;
								position: relative;
								top: 2px;
							} // .o-media__img
						} // .location
					} // .location-venues
				} // &.c-detail-page__block-content--double
			} // .c-content-block
			
			.enquiry-popup {
				position: fixed;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 65;
				display:-webkit-flex;
				display:-webkit-box;
				display:-moz-flex;
				display:-moz-box;
				display:-ms-flexbox;
				display:flex;
				align-items: center;
				opacity: 0;
				visibility: hidden;
				z-index: -1;
				transition: all .4s ease-in-out;
				-moz-transition: all .4s ease-in-out;
				-webkit-transition: all .4s ease-in-out;
				-ms-transition: all .4s ease-in-out;
				-o-transition: all .4s ease-in-out;
				
				@at-root body.admin-bar#{&} {
					top: 32px;
					
					@media (max-width: 782px) {
						top: 46px;
					}
				} // body.admin-bar#{&}
				
				&.reveal {
					opacity: 1;
					z-index: 60;
					visibility: visible;
					
					.overlay {
						opacity: 1;
					} // .overlay
					
					.popup-form {
						transform: translate(0);
						-webkit-transform: translate(0);
						-moz-transform: translate(0);
						-ms-transform: translate(0);
						-o-transform: translate(0);
						opacity: 1;
					} // .popup-form
				}
				
				.overlay {
					opacity: 0;
					background-color: rgba(0,0,0,0.75);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-ms-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
				} // .overlay
				
				.popup-form {
					position: relative;
					max-width: 50%;
					margin: 0 auto;
					background-color: $color-green-dark;
					padding: 7.5em;
					width: 100%;
					opacity: 0;
					transition: all .4s ease-in-out;
					-moz-transition: all .4s ease-in-out;
					-webkit-transition: all .4s ease-in-out;
					-ms-transition: all .4s ease-in-out;
					-o-transition: all .4s ease-in-out;
					transform: translate(0, 40px);
					-webkit-transform: translate(0, 40px);
					-moz-transform: translate(0, 40px);
					-ms-transform: translate(0, 40px);
					-o-transform: translate(0, 40px);
					
					@media (max-height: 750px), (max-width: 600px) {
						bottom: 0;
						left: 0;
						max-width: none;
						overflow: scroll;
						padding: 3em 1em;
						position: absolute;
						top: 0;
						
						> form {
							margin: 0 auto;
							max-width: 500px;
						}
					}
					
					.c-form__field--dropdown {
						background-image: url('../img/svg/arrow-light.svg');
					} // .c-form__field--dropdown
					
					.c-form__field--date {
						background-image: url('../img/svg/calendar-light.svg');
						background-position: right 23px top 19px;
						background-repeat: no-repeat;
						background-size: 18px 20px;
					} // .c-form__field--date
					
					.c-form__field--time {
						background-image: url('../img/svg/clock-light.svg');
						background-position: right 23px center;
						background-repeat: no-repeat;
						background-size: 18px 18px;
					} // .c-form__field--date
					
					i.exit-popup {
						position: absolute;
						top: 0;
						right: 1rem;
						color: #fff;
						font-weight: 100;
						font-size: 50px;
						font-style: normal;
						font-family: $font-family-content;
						
						&:hover {
							cursor: pointer;
						} // &:hover
					} // i.exit-popup
					
					.c-header {
						text-align: center;
						margin-bottom: 2rem;
						
						h2 {
							font-size: 46px;
							color: #fff;
							border: 0;
							margin: 0;
							font-family: $font-family-header;
							text-transform: uppercase;
							letter-spacing: 5px;
							font-weight: bold;
						} // h2
					} // .c--header
					
					form {
						.c-form {
							&__dropdown-selected,
							&__label,
							&__input,
							.js-datepicker {
								color: #fff;
							}
							
							.pika-single {
								border-color: #fff;
								background-color: rgba(255, 255, 255, .25);
								
								.pika-lendar {
									width: 100%;
								} // .pika-lendar
							} // pika-single
							
							button {
								&[type="submit"] {
									color: #fff;
									border-color: #fff;
									
									&:hover {
										color: $color-grey-dark;
										border-color: $color-grey-dark;
									} // &:hover
								} // &[type="submit"]
							} // button
						} // .c-form
					} // form
					
					.o-button-group--tight {
						margin: 0;
						
						.o-button-group__item {
							margin: -4px 0 0;
						} // .o-button-group__item
					} // .o-button-group--tight
				} // .popup-form
			} // .enquiry-popup
		} // .o-flex
	} // .o-wrapper
} // .page-template-events-dev