.c-filters {
    $_this: &;
    $_removeFiltersAt: device;

    @include mq($from: $_removeFiltersAt) { // As we only have filters on device and up, and everything reset below this
        &--active {
            #{$_this} {
                &__term {
                    opacity: 0.4;
                    &--active {
                        color: $color-grey-dark;
                        opacity: 1;
                    }
                }
                &__item {
                    opacity: 0.2;
                    &--active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__container {
        align-items: center;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        @include mq($from: $_removeFiltersAt) {
            display: flex;
        }
    }
    &__description {
        @include content('small', 0.5px);
        color: $color-grey;
        margin-right: 15px;
    }
    &__icon {
        margin-right: 5px;
        opacity: 0.6;
        &.icon-eye {
            height: 9px;
            width: 17px;
        }
    }
    &__term {
        @include content('small', 3px, bold, uppercase);
        color: $color-grey;
        cursor: pointer;
        display: inline-block;
        margin: 0 $global-spacing-small;
        padding: $global-spacing-tiny $global-spacing-tiny;
    }
}
