.c-text-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    width: 100%;

    &--no-flex {
        display: block;
    }

    &__header {
        @include title('medium-mobile', text-default('medium-mobile', spacing));
        color: $color-gold;
        margin: $global-spacing-medium 0;
        text-align: center;
        width: 100%;
        @include mq($from: deskTweakHomeBlock) {
            @include title('medium', text-default('medium', spacing));
        }
        &--alt {
            @include content($_weight: bold);
            color: $color-black-light;
        }
    }
    &__content {
        @include content($_line-height: $font-line-height-base);
        margin-bottom: $global-spacing-medium;
        width: 100%;
        @include mq($from: deskTweakHomeBlock) {
            margin-bottom: $global-spacing-base;
        }
        p:last-child {
            margin-bottom: 0;
        }
        strong,
        b {
            @include content($_weight: bold);
        }
    }
    &__title-cross {
        display: block;
        height: 16px;
        margin: 0 auto 20px;
        position: relative;
        width: 16px;
        &:before,
        &:after {
            background: currentColor;
            content: '';
            display: block;
            height: 23px;
            left: 50%;
            position: absolute;
            top: 0;
            transform-origin: center;
            width: 1px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &--under-arch {
            transform: translate(-5px, -5px);
        }
    }
}
