/* ==========================================================================
   STYLEGUIDE STYLES - TEMP (TO BE REMOVED ONCE SITE IS BUILT)
   - Settings found in settings/_settings.styleguide.scss
   ========================================================================== */
.c-styleguide {
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
    &__part {
        padding: 20px 0 60px;
    }
    &__title {
        color: $styleguide-title-color;
        font-family: $styleguide-font;
        letter-spacing: 1px;
        text-transform: uppercase;
        &--medium {
            @include font-size(26px);
        }
        &--small {
            @include font-size(18px);
            font-weight: bold;
        }
    }
    &__text {
        color: $color-black;
        display: block;
        font-family: $styleguide-font;
        font-weight: normal;
        pre {
            background: $styleguide-code-background;
            display: inline-block;
            font-family: $styleguide-code-font;
            padding: 3px;
        }
    }
    &__color {
        margin-right: 10px;
    }
    &__swatch {
        border: 1px solid $color-white-darker;
        display: block;
        height: 100px;
        width: 100px;
    }
    &__typeface {
        margin-right: 40px;
        .c-styleguide__text {
            margin-bottom: 20px;
        }
        p {
            font-size: 2.0625rem;
        }
        &--vinny-light {
            font-family: $font-family-content;
        }
        &--vinny-bold {
            font-family: $font-family-content-bold;
        }
        &--altissima {
            font-family: $font-family-header;
        }
    }
    &__table {
        font-family: $styleguide-font;
        td {
            padding: 15px 0;
        }
        th {
            color: #828282;
            @include font-size(14px);
            font-weight: bold;
            letter-spacing: 1px;
            padding-bottom: 15px;
            text-align: left;
            text-transform: uppercase;
        }
        .heading-row {
            border-bottom: 1px solid $color-primary;
        }
    }
}
