.icon-eye svg {
    width: 17.62px;
    height: 8.78px;
}
#icon-eye {
    }
.icon-facebook svg {
    width: 9px;
    height: 17px;
}
#icon-facebook {
    }
.icon-group svg {
    width: 14px;
    height: 10px;
}
#icon-group {
    }
.icon-insta svg {
    width: 17px;
    height: 18px;
}
#icon-insta {
    }
.icon-letter svg {
    width: 12px;
    height: 9px;
}
#icon-letter {
    }
.icon-location-marker svg {
    width: 10px;
    height: 13px;
}
#icon-location-marker {
    }
.icon-logo-roundel svg {
    width: 310.7px;
    height: 318.8px;
}
#icon-logo-roundel {
    }
.icon-logo svg {
    width: 78px;
    height: 24px;
}
#icon-logo {
    }
.icon-pinterest svg {
    width: 15px;
    height: 18px;
}
#icon-pinterest {
    }
.icon-telephone svg {
    width: 13px;
    height: 13px;
}
#icon-telephone {
    }
.icon-twitter svg {
    width: 19px;
    height: 16px;
}
#icon-twitter {
    }
.icon-underground svg {
    width: 15px;
    height: 13px;
}
#icon-underground {
    }
.icon-user svg {
    width: 10px;
    height: 11px;
}
#icon-user {
    }
