/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.c-btn {
    $_this: &;
    @include link($_size: 'small-alt');
    background: transparent;
    border-style: solid;
    border-width: 4px;
    cursor: pointer;
    display: inline-block;
    height: $global-box-input-and-button-height;
    margin: 0;
    min-width: 260px;
    outline: 0;
    padding: 1.25em 1.35em 1.25em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    @include mq($until: device) {
        @include link($_size: 'base-alt');
    }

    /* Style variants
       ========================================================================== */

    $_button-styles: (
        primary: (
            main-color: $color-primary,
            hover-color: $color-grey-dark,
            fill-hover-text-color: $color-white,
            line-color: $color-white-darker,
        ),
        light: (
            main-color: $color-white,
            hover-color: $color-white-dark,
            fill-hover-text-color: $color-primary,
            line-color: $color-white-darker,
        ),
        dim: (
            main-color: $color-grey-lighter,
            hover-color: $color-grey-dark,
            fill-hover-text-color: $color-primary,
            line-color: $color-white-darker,
        )
    );

    @each $_style-name, $_style-map in $_button-styles {
        $_main-color: map-get($_style-map, main-color);
        $_hover-color: map-get($_style-map, hover-color);
        $_fill-hover-text-color: map-get($_style-map, fill-hover-text-color);
        $_line-color: map-get($_style-map, line-color);

        &--#{$_style-name} {
            border-color: $_main-color;
            color: $_main-color;
            transition-duration: $global-transition-duration;
            transition-property: color, border-color;
            transition-timing-function: $global-transition-easing;

            &:before,
            &:after { // For the additional --line button modifiers
                background-color: $_line-color;
            }

            @include hfa(#{$_this}--active) {
                border-color: $_hover-color;
                color: $_hover-color;
                &#{$_this}--fill-hover {
                    background-color: $_hover-color;
                    color: $_fill-hover-text-color;
                }
                &:before,
                &:after {
                    background-color: $_hover-color;
                }
            }
        }
    }

    &--line {
        border-width: 0;
        min-width: 0;
        padding: 1.25em 0;
        position: relative;
        &:before,
        &:after {
            bottom: 0;
            content: '';
            display: block;
            position: absolute;
        }
        &:after {
            height: 1px;
            opacity: 1;
            transition-duration: $global-transition-duration;
            transition-property: opacity, bottom;
            transition-timing-function: $global-transition-easing;
            width: 100%;
        }
        &:before {
            height: 2px;
            transition-duration: $global-transition-duration;
            transition-property: height, width;
            transition-timing-function: $global-transition-easing;
            width: 0;
        }
        &:disabled {
            &:before {
                opacity: 0;
            }
        }
        @include hfa(#{$_this}--active) {
            &:before {
                height: 4px;
                transform: translateY(1px);
                width: 100%;
            }
            &:disabled {
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    &--fixed {
        min-width: 0;
        width: 140px;
    }

    &--fluid {
        min-width: 140px;
    }

    &--condensed {
        min-width: 0;
    }

    &--block {
        display: block;
        width: 100%;
    }
}
