.c-footer {
    $_this: &;
    $_vertical-padding: 75px;

    border-top: 1px solid $color-white-darker;
    padding-bottom: $_vertical-padding;
    @include mq($from: device) {
        padding-top: $_vertical-padding;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        min-height: $footer-height-desktop;
        @include mq($from: device) {
            flex-direction: row;
            justify-content: space-between;
            position: relative;
        }
    }
    &__branding {
        align-items: center;
        display: flex;
        fill: $color-gold;
        justify-content: center;
        margin: $global-spacing-large 0;
        @include mq($from: device) {
            left: 50%;
            margin: 0;
            position: absolute;
            top: 0;
            transform: translate3d(-50%, 0, 0);
        }
    }
    &__logo {
        height: 150px;
        width: 150px;
    }
    &__navigation {
        display: flex;
        justify-content: center;
        @include mq($from: device) {
            order: 1;
        }
        ul { // Element selectors as this is a wordpress menu
            margin-bottom: $global-spacing-large;
            @include mq($from: device) {
                margin-bottom: 0;
            }
            li {
                margin-bottom: $global-spacing-base;
                text-align: center;
                @include mq($from: device) {
                    text-align: left;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    @include link();
                    color: $color-primary;
                }
            }
        }
    }
    &__social {
        align-items: center;
        display: flex;
        flex-direction: column;
        @include mq($from: device) {
            align-items: flex-end;
            margin-left: auto;
            order: 2;
        }
        .c-icon {
            fill: $color-grey;
        }
    }
    &__contact {
        @include link();
        color: $color-primary;
        margin: $global-spacing-large 0 $global-spacing-base;
        text-align: center;
        @include mq($from: device) {
            margin: $global-spacing-base 0 0;
            text-align: left;
        }
    }
    &__legal {
        @include content('small');
        color: $color-black-light;
        margin: 0;
        text-align: center;
        @include mq($from: device) {
            bottom: 0;
            position: absolute;
            right: 0;
            text-align: right;
            width: 100%;
        }
    }
    &__back-to-top {
        @include link();
        border-bottom: 1px solid $color-white-darker;
        color: $color-grey-lighter;
        display: block;
        padding: $global-spacing-base;
        text-align: center;
        @include mq($from: device) {
            display: none;
        }
    }
}

.footer-newsletter{
    .static-newsletter{
        text-align: center;
        margin: 60px 0;
        p{
            color: #000000;
            font-size: 16px;
        }
        h2{
            font-size: 24px;
            color: #AE902F;
            letter-spacing: 2.61px;
            text-transform: uppercase;
        }
        .newsletter-button{
            display: inline-block;
            width: 230px;
            height: 51px;
            background-color: #A3BEA7;
            color: #FFFFFF;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 51px;
        }
    }
}

.popup-section-homepage{
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    max-width: 600px;
    padding: 35px 0;
    background-color: #a44a61;
    z-index: 100;
    text-align: center!important;
    display: none;
    &.active{
        display: inline-block;
        opacity: 1;
        position: -webkit-sticky;
        position: sticky;
        float: right;
    }
    .inner-container{
        position: relative;
        .close-button{
            position: absolute;
            right: 20px;
            top: -25px;
            font-size: 30px;
            color: #fff;
            font-weight: 700;
            cursor: pointer;
        }
        .button{
            display: inline-flex;
            a{
                color: black;
                background: #fff;
                padding: 18px 55px;
                text-decoration: none;
            }
        }
        .content{
            display: block;
            margin-bottom: 20px;
            color: #fff;
            padding: 0 40px;
            font-weight: 700;
        }
        .title{
            display: block;
            color: #fff;
            font-weight: 700;
            padding: 0 50px;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-family: $font-family-header;
            letter-spacing: 4px;
        }
    }

}