.c-booking {
    $_this: &;

    &__column {
        margin-bottom : $global-spacing-medium;
        @include mq($from: desk) {
            margin: 0 $global-spacing-medium;
        }
        .c-btn {
            border-color: $color-green;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        @include mq($from: desk) {
            flex-direction: row;
        }
        #{$_this}--large & {
            align-items: center;
            @include mq($from: desk) {
                align-items: flex-start;
                justify-content: center;
            }
        }
    }
    &__group-text {
        color: $color-white;
        max-width: 260px;
        margin: $global-spacing-base 0;
    }
}
