.c-content-block {
    $_this: &;

    &__header {
        @include title('medium-mobile', text-default('medium-mobile', spacing));
        color: $color-gold;
        padding-top: $global-spacing-medium;
        @include mq($from: device) {
            min-height: 130px;
            padding-top: $global-spacing-large;
        }
        &--device-padding {
            padding: $global-spacing-medium $global-spacing-medium $global-spacing-medium 0;
            @include mq($from: device) {
                padding: $global-spacing-medium 0 0 0;
            }
        }
        &--arc {
            @include mq($from: device) {
                position: relative;
                text-align: center;
            }
            #{$_this}:not(#{$_this}--no-separator) &:after {
                @include mq($from: device) {
                    bottom: 0;
                    left: 0;
                    margin-top: 0;
                    position: absolute;
                }
            }
        }
        #{$_this}:not(#{$_this}--no-separator) &:after {
            background-color: $color-white-dark;
            content: '';
            display: block;
            height: 4px;
            margin-top: $global-spacing-medium;
            width: 100%;
            @include mq($from: device) {
                margin-top: $global-spacing-large;
            }
        }
    }
    &__sub-header {
        @include content('small');
        color: $color-grey;
        display: block;
        margin-top: 24px;
    }
    &__body {
        @include content($_line-height: $font-line-height-base);
        margin-top: $global-spacing-medium;
        @include mq($from: device) {
            margin-top: $global-spacing-large;
        }
    }
    &__list-icon {
        height: 13px;
        width: 15px;
    }
}
