.c-pagination {
    display: block;
    margin-top: $global-spacing-huge;
    margin-bottom: $global-spacing-huge;
    text-align: center;
    .page-numbers {
        @include link();
        color: $color-grey-lighter;
        display: inline-block;
        margin-left: $global-spacing-small;
        margin-right: $global-spacing-small;
        text-decoration: none;
        &.current {
            color: $color-primary;
        }
    }
}
