.c-navbar {
    $_this: &;
    
    .admin-bar & {
	    top: 32px;
	    
	    @media screen and (max-width: 600px) {
	    	top: 0;
	    } // 600px
    }

    align-items: center;
    background-color: $color-white;
    display: flex;
    height: $navbar-height;
    justify-content: center;
    padding: 0 $global-spacing-base;
    position: fixed;
    top: 0;
    transition-property: background-color, transform;
    transition-duration: $global-transition-duration, hero-setting(navbar-in-duration);
    transition-timing-function: $global-transition-easing;
    width: 100%;
    z-index: z(navigation);
    @include mq($from: device) {
        padding: 0 $global-spacing-medium;
    }
    &--home,
    &--no-hero,
    &--peek#{$_this}--menu {
        background-color: transparent;
        
/*
        .c-social {
            .c-icon {
                svg {
                    fill: $color-white !important;
                }
            }
        }
        
        &.c-navbar--fixed {
	        .c-social {
	            .c-icon {
	                svg {
	                    fill: $color-grey !important;
	                    
	                    &:hover {
		                    fill: $color-black !important;
	                    }
	                }
	            }
	        }
        }
*/
    }
    &--single {
        @include mq($from: device) {
            background-color: transparent;
        }
    }
    &--fixed {
        background-color: $color-white;
    }
    &--menu {
        background-color: transparent;
    }
    &--up {
        transform: translate3d(0, (-$navbar-height), 0);
    }
    &--events {
	    background-color: transparent;
	    
	    &.c-navbar--fixed {
		    background-color: #fff;
		    
		    use {
			    fill: #7c7c80;
		    }
		    
		    .c-navbar__links {
			    ul {
				    li {
					    a {
						    color: #7c7c80;
					    }
				    }
			    }
		    }
		    
		    .c-navbar__hamburger {
			    .c-hamburger__inner {
				    background-color: #7c7c80;
				    
				    &::before,
				    &::after {
					    background-color: #7c7c80;
				    }
			    }
		    }
	    }
	    
	    use {
		    fill: #fff;
	    }
	    
/*
	    .c-navbar__links {
		    ul {
			    li {
				    a {
					    color: #fff;
				    }
			    }
		    }
	    }
	    
	    .c-navbar__hamburger {
		    .c-hamburger__inner {
			    background-color: #fff;
			    
			    &::before,
			    &::after {
				    background-color: #fff;
			    }
		    }
	    }
*/
    }
    &__social {
        display: none;
/*
		display: inherit !important;
        position: absolute;
        z-index: 999999;
        right: 30px;
*/
        
        flex: 1;
        margin-right: auto;
        
/*
        @media screen and (max-width: 1024px) {
        	display: none !important;
        } // 1024px
        
        .c-social__link {
	        margin: 0 6px;
	        
	        @media screen and (max-width: 1280px) {
	        	margin: 0 4px;
	        } // 1280px
        } // .c-social__link
*/
        
        #{$_this}--home & {
            @include mq($from: device) {
                display: block;
            }
        }
        #{$_this}--fixed & {
            @include mq($from: device) {
                display: none;
            }
        }
        #{$_this}--menu & {
            display: none;
        }
/*
        .c-social {
            .c-icon {
	            @media screen and (max-width: 1280px) {
	            	width: 14px;
	            	height: 14px;
	            } // 1280px
                svg {
                    fill: $color-black;
                    transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    
                    &:hover {
	                    fill: $color-black;
                    }
                }
            }
        }
*/
    }
    &__hamburger {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin-left: auto;
/*
        visibility: hidden;
        opacity: 0;
        
        @media screen and (max-width: 1024px) {
        	visibility: visible;
        	opacity: 1;
        } // 1024px
*/
    }
    &__links {
        color: $color-primary;
        display: none;
        @include mq($from: desk) {
            display: block;
        }
        #{$_this}--single &,
        #{$_this}--no-hero &,
        #{$_this}--home &,
        #{$_this}--menu#{$_this}--fixed &,
        #{$_this}--menu & {
            color: $color-white;
        }
        #{$_this}--fixed & {
            color: $color-primary;
        }
        &-container {
            ul { // Element selectors as this is a wordpress menu
                display: flex;
                list-style: none;
                margin: 0;
                li {
                    padding: 5px 25px;
                    .c-navbar:not(.c-navbar--peek) &.current-menu-item,
                    &.c-peek__active-link,
                    &:hover {
                        a {
                            &:after {
                                height: 4px;
                                width: 100%;
                            }
                        }
                    }
                    
/*
                    @media screen and (max-width: 1440px) {
                    	padding: 5px 15px;
                    } // 1440px
                    @media screen and (max-width: 1230px) {
                    	padding: 5px 10px;
                    } // 1230px
                    
*/
                    a {
                        @include link();
                        color: inherit;
                        display: block;
                        position: relative;
                        text-align: center;
                        &:hover {
                            color: inherit;
                        }
                        &:after {
                            background-color: currentColor;
                            bottom: -$global-spacing-small;
                            content: '';
                            display: block;
                            height: 0;
                            position: absolute;
                            transition-duration: $global-transition-duration;
                            transition-property: height, width;
                            transition-timing-function: $global-transition-easing;
                            width: 0;
                        }
/*
                        
                        @media screen and (max-width: 1230px) {
                        	letter-spacing: 2px;
                        } // 1230px
                        @media screen and (max-width: 1100px) {
                        	letter-spacing: 1px;
                        } // 1100px
*/
                    }
                }
            }
        }
    }
    &__branding {
        flex: 1;
        #{$_this}--home & {
            display: none;
        }
        #{$_this}--fixed &,
        #{$_this}--menu & {
            display: block;
        }
        .c-site-branding {
            &__logo {
                fill: $color-primary;
                #{$_this}--menu & {
                    fill: $color-white;
                }
                #{$_this}--single &,
                #{$_this}--no-hero:not(#{$_this}--fixed) & {
                    @include mq($from: device) {
                        fill: $color-white;
                    }
                }
            }
        }
    }
}
