.c-sidebar {
    $_this: &;

    background-color: $color-grey;
    bottom: 100%;
    height: 100%;
    overflow: auto;
    padding-top: $navbar-height;
    position: fixed;
    transition-property: transform, background-color;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-easing;
    width: 100%;
    z-index: z(sidenav);
    @include mq($from: device) {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
    }
    &--active {
        transform: translate3d(0, 100%, 0);
    }
    &__links-list {
        #{$_this} &--main { // Required to override ul li a styles below
            ul li a {
                font-family: $font-family-content-bold;
            }
        }
        &--extra {
            @include mq($from: desk) {
                margin-bottom: $global-spacing-huge;
                max-height: 210px;
                padding-top: 0;
            }
        }
        ul {
            color: $color-white;
            margin: 0;
            text-align: center;
            li {
                list-style: none;
                margin: 0 auto;
                padding: 15px 20px;
                width: 245px;
                a {
                    @include link($_weight: normal);
                    color: inherit;
                    &:hover {
                        color: inherit;
                    }
                    &:after {
                        @include mq($until: desk) {
                            width: 0;
                        }
                    }
                }
            }
        }
    }
    &__links-container {
        @include mq($from: device) {
            display: flex;
        }
    }
    &__motif {
        fill: $color-white;
        height: 175px;
        left: 50%;
        opacity: .3;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 175px;
    }
}
