.c-blog {
    &__wrapper {
        @include mq($from: device) {
            margin: 0 auto;
            max-width: 975px;
        }
    }
    &__section {
        &:last-child {
            margin-bottom: $global-spacing-huge;
        }
        &--text {
            margin: $global-spacing-huge 0;
            max-width: 540px;
            p { // P targeted as this is comes from WYSIWYG
                @include content('base', .5px, normal);
                color: $color-black-light;
                &:last-child {
                    margin-bottom: 0;
                }
                strong {
                    @include content('base', normal, bold);
                }
            }
            @each $_size-name, $_size-px in $list-font-sizes {
                $_heading-level: text-default($_size-name, heading-level);
                $_font-spacing: text-default($_size-name, spacing);
                @if $_heading-level != 'null' {
                    h#{$_heading-level} {
                        @include title(#{$_size-name}, #{$_font-spacing});
                    }
                }
            }
        }
        &--links {
            margin: $global-spacing-base 0;
        }
        &--image {
            margin: $global-spacing-huge 0;
        }
    }
    &__buttons {
        @include mq($from: device) {
            margin-left: -$global-spacing-small;
            margin-right: -$global-spacing-small;
        }
    }
    &__image {
        @include object-fit();
        max-height: 600px;
        width: 100%;
    }
    &__share {
        @include mq($from: device) {
            float: right;
            margin-bottom: $global-spacing-medium;
        }
        &-text {
            color: $color-grey;
            font-family: $font-family-content-bold;
            padding-right: $global-spacing-small;
        }
        &-icon {
            fill: $color-grey;
            padding-left: $global-spacing-base;
        }
    }
}
