.c-icon {
    display: block;
    margin: 5px;
    &--small {
        height: 18px;
        width: 18px;
    }
    &--medium {
        height: 36px;
        width: 36px;
    }
    &--large {
        height: 50px;
        width: 50px;
    }
}
