.c-contact {
    padding-bottom: $global-spacing-huge;
    &__link {
        @include link();
    }
    &__list-item {
        margin-bottom: $global-spacing-base;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__sections {
        padding-bottom: $global-spacing-huge;
    }
    &__section {
        display: none;
        &--active {
            display: block;
        }
        .c-detail-list {
            padding-top: 0;
        }
    }
    &__footer {
        padding-bottom: $global-spacing-large;
        .c-social {
            fill: $color-primary;
            justify-content: center;
        }
    }
    
      /* VERB
    ––––––––––––––––––––––––––––––––––––––––––––––––––  */
    &.verb-update {
	    padding-bottom: 0;
    }
    
    &__sections {
	    padding: 5em 0;
	    
	    h2 {
		    font-size: 26px;
		    font-family: $font-family-header;
		    text-transform: uppercase;
		    color: $color-gold;
		    letter-spacing: 8px;
		    font-weight: bold;
	    }
	    
	    .c-form {
		    &__dropdown {
			    width: 50%;
			    
			    &:last-child {
				    display: none;
			    }
			    
			    @media screen and (max-width: 650px) {
			    	width: 100%;
			    } // 650px
		    }
		    
			.js-dropdown {
				background-position: right calc(50% + 28px) center;
				
				@media screen and (max-width: 650px) {
					background-position: right 28px center;
				} // 650px
			}
	    }
    }
}

  /* VERB
––––––––––––––––––––––––––––––––––––––––––––––––––  */
.page-template-contact-dev {
	.location-map {
		.acf-map {
			.gm-style {
				> div {
					&:first-child {
						transform: translate(0);
						
						> div {
							&:last-child {
								transform: translate(0);
								
								> div {
									&:last-child {
										transform: translate(0);
										
										> div {
											order: 1;
											
											> div {
												width: 194px !important;
												
												&.gmnoprint {
													width: 35px !important;
												} // .gmnoprint
												
												> div {
													&:first-child {
														> div {
															&:nth-child(2) {
																width: 194px !important;
															}
															
															&:last-child {
																width: 192px !important;
															}
														}
													}
													
													&:last-child {
														div:last-child {
															div:nth-child(3) {
																
															}
														}
													}
													
													&.gm-style-iw {
														width: 192px !important;
														top: 0 !important;
														left: 0 !important;
														padding: 20px 20px 0 !important;
														
														.info-window-wrapper {
															.window-header {
																h2 {
																	font-size: 16px;
																	font-family: $font-family-header;
																	color: $color-gold;
																	letter-spacing: 4px;
																	margin-bottom: .75rem;
																}
																
																span {
																	font-size: 12px;
																	color: #000;
																	line-height: 18px;
																	display: block;
																}
															} // .window-header
															
															.window-contact {
																margin-top: .75rem;
																padding: .75rem 0;
																border-top: 1px solid #EDEDED;
																
																> div {
																	width: 100%;
																	display: block;
																	clear: both;
																	margin-bottom: .45rem;
																	
																	.o-media__img {
																		margin-right: 5px;
																	} // .o-media__img
																	
																	span {
																		font-size: 10px;
																		letter-spacing: 1px;
																		color: #000;
																		font-weight: 300;
																	} // span
																	
																	a {
																		text-decoration: none;
																		color: #000;
																		
																		&:hover {
																			color: $color-gold;
																		} // &:hover
																	} // a
																} // > div
															} // .window-contact
															
															.window-links {
																ul {
																	margin: 0;
																	padding: 0;
																	
																	li {
																		margin: 0;
																		
																		a {
																			display: block;
																			font-size: 8px;
																			font-weight: bold;
																			text-transform: uppercase;
																			text-align: center;
																			padding: 12px 10px;
																			letter-spacing: 1.33px;
																			transition: all .2s ease-in-out;
																			-moz-transition: all .2s ease-in-out;
																			-webkit-transition: all .2s ease-in-out;
																			-ms-transition: all .2s ease-in-out;
																			-o-transition: all .2s ease-in-out;
																			
																			&.book-table-link {
																				background-color: $color-green;
																				text-decoration: none;
																				color: #fff;
																				border: 0;
																				min-width: 0;
																				height: auto;
																				
																				&:hover {
																					background-color: $color-green-dark;
																				} // &:hover
																			} // &.book-table-link
																			
																			&.more-link {
																				color: $color-grey;
																				text-decoration: underline;
																				
																				&:hover {
																					color: $color-green;
																				} // &:hover
																			} // &.more-link
																		} // a
																	}
																} // ul
															} // .window-links
														} // .info-window-wrapper
													} // .gm-style-iw
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	} // .location-map
	
	.wrapper-contact {
		padding: 5em 0;
		display: inline-block;
		width: 100%;
		
		> div {
			float: left;
			width: 48%;
			margin-left: 4%;
			
			&:first-child {
				display: inline-block;
				margin-left: 0;
			}
			
			&:last-child {
				.contain {
					float: right;
				}
			}
			
			@media screen and (max-width: 650px) {
				width: 100%;
				margin-left: 0;
				margin-bottom: 4em;
				
				&:last-child {
					margin-bottom: 0;
				}
			} // 650px
			
			.contain {
				width: 70%;
				
				@media screen and (max-width: 1024px) {
					width: 100%;
				} // 1024px
				
				h2 {
					font-size: 26px;
					color: $color-gold;
					text-transform: uppercase;
					letter-spacing: 8px;
					font-family: $font-family-header;
				}
				
				p {
					font-size: 14px;
					color: #000;
					letter-spacing: 1px;
					line-height: 21px;
				}
				
				a {
					text-transform: uppercase;
					font-size: 12px;
					letter-spacing: 2px;
					color: $color-grey-dark;
					text-decoration: underline;
					transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-ms-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
					
					&:hover {
						color: $color-gold;
					}
				}
			}
		}
	}
} // .page-template-contact-dev