.c-hamburger {
    $_this: &;
    $_hamburger-layer-width: 40px;
    $_hamburger-layer-height: 1px;
    $_hamburger-layer-spacing: 7px;

    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    height: 38px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 0;
    text-transform: none;
    .c-navbar:not(.c-navbar--fixed) & {
        &--single {
            #{$_this}__inner {
                &,
                &::before,
                &::after {
                    @include mq($from: device) {
                        background-color: $color-white;
                    }
                }
            }
        }
        &--home {
            #{$_this}__inner {
                &,
                &::before,
                &::after {
                    background-color: $color-white;
                }
            }
        }
    }

    &__box {
        display: inline-block;
        height: ($_hamburger-layer-height * 3) + ($_hamburger-layer-spacing * 2);
        position: relative;
        width: $_hamburger-layer-width;
    }
    &__inner {
        display: block;
        transition: background-color 0s 0.13s linear;
        &,
        &::before,
        &::after {
            background-color: $color-primary;
            border-radius: 4px;
            content: "";
            display: block;
            height: $_hamburger-layer-height;
            position: absolute;
            width: $_hamburger-layer-width;
        }
        &::before {
            top: $_hamburger-layer-height + $_hamburger-layer-spacing;
            transition: top 0.1s 0.2s cubic-bezier(0.3, 0.7, 0.7, 1),
                        transform 0.13s cubic-bezier(0.5, 0.05, 0.7, 0.2);
        }
        &::after {
            top: ($_hamburger-layer-height * 2) + ($_hamburger-layer-spacing * 2);
            transition: top 0.2s 0.2s cubic-bezier(0.3, 0.7, 0.7, 1),
                        transform 0.13s cubic-bezier(0.5, 0.05, 0.7, 0.2);
        }
        #{$_this}--active & { // When the hamburger menu is opened
            background-color: transparent !important;
            transition-delay: 0.22s;
            &::before,
            &::after {
                background-color: $color-white;
                top: 0;
            }
            &::before {
                transition: top 0.1s 0.15s cubic-bezier(0.3, 0, 0.7, 0.3),
                            transform 0.13s 0.22s cubic-bezier(0.2, 0.6, 0.3, 1);
                transform: translate3d(0, $_hamburger-layer-spacing + $_hamburger-layer-height, 0) rotate(45deg);
            }
            &::after {
                transition: top 0.2s cubic-bezier(0.3, 0, 0.7, 0.3),
                            transform 0.13s 0.22s cubic-bezier(0.2, 0.6, 0.3, 1);
                transform: translate3d(0, $_hamburger-layer-spacing + $_hamburger-layer-height, 0) rotate(-45deg);
            }
        }
    }
}
