.o-instagram {
	text-align: center;
	padding: 40px 0 20px;
	background-color: #f9f9f9;
	
	i {
		color: $color-gold;
		font-size: 1.5em;
	} // i
	
	#sb_instagram {
		.sb_instagram_header {
			padding-top: 0 !important;
			
			a {
				float: none;
				color: $color-gold-light;
				
				.sbi_header_text {
					float: none;
					text-align: center;
					position: relative;
					
					&::before {
						content: "INSTAGRAM ";
						font-family: $font-family-content-bold;
						color: $color-grey;
					}
					
					h3 {
						float: none;
						text-align: center;
						margin-left: 0 !important;
						position: relative;
						display: inline-block;
						margin: 0 auto;
						
						&::before {
							content: "@";
						}
					} // h3
				} // .sbi_header_text
				
				.sbi_header_img {
					display: none;
				} // .sbi_header_img
			} // a
		} // .sb_instagram_header
		
		#sbi_images {
			padding: 20px 0 !important;
			
			.sbi_item.sbi_type_image {
				padding: 15px !important;
				
				&:first-child {
					padding-left: 0 !important;
				} // &:first-child
				
				&:last-child {
					padding-right: 0 !important;
				} // &:last-child
			} // .sbi_item.sbi_type_image
		} // #sbi_images
	} // #sb_instagram
} // .o-instagram