  /* Verb Amends
––––––––––––––––––––––––––––––––––––––––––––––––––  */
.datepicker .c-form__dropdown {
	display: none;
}
  /* Verb amends
––––––––––––––––––––––––––––––––––––––––––––––––––  */

.c-form {
    $_this: &;
    $_input-padding: 1.25em;
    $_input-height: $global-box-input-and-button-height;

    $_border-colors: (
        'white': $color-white,
        'green': $color-green
    );

    $_text-colors: (
        'white': $color-white
    );

    &__field {
        color: $color-primary;
        cursor: text;
        display: block;
        margin-bottom: $global-spacing-base;
        position: relative;
        width: 100%;

        @each $_border-name, $_border-color in $_border-colors {
            &--border-#{$_border-name} {
                #{$_this} {
                    &__dropdown,
                    &__input {
                        border-color: $_border-color;
                    }
                }
                .pika-single {
                    border-color: $_border-color;
                }
            }
        }
        @each $_text-color-name, $_text-color-value in $_text-colors {
            &--color-#{$_text-color-name} {
                color: $_text-color-value;
                .pika-single {
                    color: $_text-color-value;

                    &.is-bound {
	                    bottom: calc(100% - 8px);
	                    position: absolute !important;
	                    background-color: $color-green;
                    }
                }
            }
        }
        &--dropdown {
            background-image: url('../img/svg/arrow-dark.svg');
            background-position: right 28px center;
            background-repeat: no-repeat;
            background-size: 10px 10px;
            &#{$_this}__field--color-white {
                background-image: url('../img/svg/arrow-light.svg');
            }
        }
        &--alt {
            #{$_this} {
                &__label {
                    @include content('small', 3px, bold, uppercase);
                    text-align: center;
                    width: 100%;
                }
            }
        }
        &--light-text {
            #{$_this} {
                &__label {
                    @include content();
                }
            }
        }
        &--filled {
            #{$_this} {
                &__label {
                    display: none;
                }
            }
        }
        &--set-width {
            width: 260px;
        }
    }
    &__label {
        @include content('base-alt', normal, bold);
        color: inherit;
        left: 0;
        padding: $_input-padding;
        position: absolute;
        pointer-events: none;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }
    &__input,
    &__select,
    &__dropdown {
        @include content('base-alt', normal, bold);
        appearance: none;
        background: transparent;
        border-color: $color-white-dark;
        border-radius: 0;
        border-style: solid;
        border-width: 4px;
        color: inherit;
        display: block;
        height: $_input-height;
        outline: none;
        padding: $_input-padding;
        width: 100%;
    }
    &__dropdown {
        cursor: pointer;
        padding: 0 $_input-height 0 0;
        position: relative;
        &--open {
            #{$_this} {
                &__dropdown-options {
                    display: block;
                    max-height: 300px;

                }
                &__dropdown-selected {
                    background-color: $color-white;
                    color: $color-primary;
                }
            }
        }
        &--fallup {
            #{$_this}__dropdown-options {
                transform: translate3d(0, -100%, 0);
            }
        }
    }
    &__dropdown-options {
        background: $color-white-dark;
        left: -4px;
        max-height: 0;
        overflow-y: scroll;
        position: absolute;
        transform: translate3d(0, $_input-height - 4px, 0);
        transition-property: max-height;
        transition-duration: $global-transition-duration;
        transition-timing-function: $global-transition-easing;
        width: calc(100% + 8px); // Add in the 4px from border left and right of dropdown component
        z-index: z(foreground);
    }
    &__dropdown-selected {
        @include content('base-alt', $_weight: bold);
        left: 0;
        padding: calc( #{$_input-padding} - 4px);
        position: absolute;
        top: 0;
        width: 100%;
    }
    &__dropdown-item {
        @include content('base-alt');
        border-bottom: 1px solid $color-white-darker;
        color: $color-primary;
        display: block;
        height: 60px;
        padding: $_input-padding;
        @include hover() {
            @include content('base-alt', normal, bold);
            background-color: $color-white-darker;
        }
    }
}

  /* Verb Brands Amends
––––––––––––––––––––––––––––––––––––––––––––––––––  */
	  /* Hero
––––––––––––––––––––––––––––––––––––––––––––––––––  */
.c-hero--home {
	.c-booking {
		form {
			.c-form__field--set-width {
				&.datepicker {
					position: relative;
					background-image: none;

					&::after,
					&:after {
						content: "\f073";
						font-family: 'Font Awesome 5 Free';
						position: absolute;
						right: 27px;
						top: 0;
						color: #fff;
						font-weight: 100;
						line-height: 60px;
						font-size: 20px;
						pointer-events: none;
					}

					input {
						text-align: left;
					} // input
				} // .datepicker

				&.js-dropdown--fallup {
					position: relative;
					background-image: none;

					&::after,
					&:after {
						content: "\f078";
						font-family: "Font Awesome 5 Free";
						color: #fff;
						right: 27px;
						font-weight: 900;
						top: 0;
						line-height: 60px;
						font-size: 20px;
						position: absolute;
						pointer-events: none;
					}
				} // .js-dropdown--fallup
			} // .c-form__field--set-width

			button[name="booking-submit"] {
				background-color: #fff;
				color: #000;

				&:hover {
					color: #fff;
					background-color: $color-green;
				} // &:hover
			} // button
		} // form
	} // .c-booking
} // .c-hero--home

div[data-page="book-a-table"] {
	display:-webkit-flex;
	display:-webkit-box;
	display:-moz-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	align-items: center;

	.panel-title {
		text-align: center;

		h2 {
			font-size: 46px;
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 5px;
			font-family: $font-family-header;
		} // h2
	} // .panel-title

	.c-booking--large {
		form {
			max-width: 400px;
			margin: 0 auto;

			.c-form {
				display:-webkit-flex;
				display:-webkit-box;
				display:-moz-flex;
				display:-moz-box;
				display:-ms-flexbox;
				display:flex;
				flex-direction: column;
				width: 100%;

				.c-booking__column {
					text-align: left;
					margin: 0;
					width: 100%;

/*
					&:first-child {
						order: 2;
					}

					&:nth-child(2) {
						order: 1;
					}

					&:nth-last-child(2) {
						order: 3;
					}

					&:last-child {
						order: 4;
					}
*/

					> div {
						width: 100%;
						margin: 0;
					} // > div

					.c-booking__group-text {
						text-align: center;
					} // .c-booking__group-text

					.c-btn {
						border-color: #fff;
						background-color: #fff;
						color: $color-green;
						letter-spacing: 2px;
						width: 100%;
						margin-top: 10px;
					} // .c-btn

					.js-dropdown:not(.date-picker):not(.time-picker) {
						background-image: none;
						position: relative;

						&::after,
						&:after {
							content: "\f078";
							font-family: "Font Awesome 5 Free";
							color: #fff;
							font-size: 18px;
							position: absolute;
							right: 27px;
							line-height: 60px;
							top: 0;
							pointer-events: none;
							font-weight: 900;
						}
					} // .js-dropdown:not(.date-picker):not(.time-picker)

					.date-picker {
						position: relative;

						&::after,
						&:after {
							content: "\f073";
							font-family: 'Font Awesome 5 Free';
							position: absolute;
							right: 27px;
							top: 0;
							color: #fff;
							font-weight: 900;
							line-height: 60px;
						}

						.js-datepicker {
							text-align: left;
						} // .js-datepicker
					} // .date-picker


					.time-picker {
						color: #fff;
						position: relative;
						background-image: none;

						&--default{
							display: none;
							&.show{
								display: block;
							}
						}

						&--selfridges{
							display: none;

							&.show{
								display: block;
							}
						}


						&::after,
						&:after {
							content: "\f2f2";
							font-family: 'Font Awesome 5 Free';
							color: #fff;
							position: absolute;
							right: 27px;
							top: 0;
							font-weight: 900;
							line-height: 60px;
						}
					} // .time-picker

					.c-form__field {
						margin: 10px auto;
						border-color: #fff;
						width: 100%;

						.c-form__select,
						.c-form__input {
							border-color: #fff;
						}

						.c-form__dropdown {
							border-color: #fff
						} // .c-form__dropdown

						.pika-single {
							bottom: auto;
							right: 0;
							left: 0 !important;
							top: calc(100% + 4px) !important;

							.pika-lendar {
								width: calc(100% - 40px);
							} // .pika-lendar
						} // .pika-single
					}  // .c-form__field

					.c-booking__group-text {
						font-size: 12px;
						color: #fff;
						margin: 20px auto;
						max-width: none;
						font-family: 'Raleway';

						a {
							text-decoration: underline;
						} // a
					} // .c-booking__group-text
				} // .c-booking__column
			} // .c-form
		} // form
	} // .c-booking--large
} // div[data-page="book-a-table"]
