.c-carousel {
    $_this: &;

    &--hero {
        height: inherit;
        left: 0;
        max-height: inherit;
        min-height: inherit;
        position: absolute;
        top: 0;
        width: 100%;
    }
    &--gallery,
    &--locations-block {
        padding-bottom: $global-spacing-large;
        @include mq($from: device) {
            height: 600px;
            margin-bottom: 100px;
        }
        #{$_this}__item {
            max-height: calc(100vh - #{$navbar-height});
        }
    }

    &--locations-block {
        @include mq($from: device) {
            margin-bottom: $global-spacing-base;
        }
    }

    &__wrapper,
    &__item {
        height: inherit;
        max-height: inherit;
        min-height: inherit;
        position: relative;
    }
    &__caption {
        @include content('base-alt', text-default('base-alt', spacing), bold);
        bottom: $global-spacing-medium;
        color: $color-white;
        left: 50%;
        position: absolute;
        transform: translate3d(-50%, 0, 0);
    }
}
