.c-social {
    display: flex;
    &__link {
        margin: 0 $global-spacing-small;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
