.c-peek {
    bottom: 100%;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: z(peekPages);
    &__page {
        background-color: $color-primary;
        display: block;
        height: 100vh;
        overflow-y: scroll;
        padding-top: calc(#{$navbar-height} + #{$global-spacing-base});
        position: fixed;
        transition-property: transform;
        transition-duration: $global-transition-duration;
        transition-timing-function: $global-transition-easing;
        width: calc(100% + 15px); // + 15px to hide vertical scrollbar
        @include mq($from: device) {
            padding-top: calc(#{$navbar-height} + #{$global-spacing-huge});
        }
        &--active {
            transform: translate3d(0, 100%, 0);
        }
    }
}
