.page-template-our-menus-dev {
	@media screen and (max-width: 735px) {
		.menus-update {
			.c-form__field {
				.select-label {
					display: block;
					margin-bottom: .5rem;
					letter-spacing: .70px;
					color: #000;
					font-size: 15px;
					font-family: $font-family-content;
				} // .select-label

				select.c-menu-page__menu-locations {
					font-weight: 400;
				} // select.c-menu-page__menu-locations

				.c-form__dropdown {
					border: 0;
					color: #000;
					padding: 0;
					position: relative;

					&::after,
					&:after {
						content: "\f078";
						font-family: "Font Awesome 5 Free";
						color: $color-grey;
						position: absolute;
						top: 0;
						bottom: 0;
						line-height: 61px;
						right: 20px;
						font-size: 1.25em;
						pointer-events: none;
					}

					&-item {
						border: 0;
						border-bottom: 1px solid #e4e4e4;
						text-transform: capitalize;
					} // &-item

					.c-form__dropdown-selected {
						background-color: #fff;
						font-family: $font-family-content;
						font-weight: 600;
						padding: 20px;
					} // .c-form__dropdown-selected
				} // .c-form__dropdown
			} // .c-form__field

			a.c-menu-name.c-btn.c-btn--dim.c-btn--fluid.o-button-group__item {
				display: none;
			}

			.c-menu-page__menu-names {
				text-align: left;
				margin: 0;
			} // .c-menu-page__menu-names

			.c-menu {
				.c-menu__logo {
					max-width: 85px;
					margin-bottom: 1.5em;
				} // .c-menu__logo

				.u-content--small {
					font-size: 14px;
					margin-bottom: 0;
					color: #000 !important;
					opacity: .35;
				} // .u-content--small

				.icon-logo-roundel {
					display: none;
				} // .icon-logo-roundel

				.c-content-block__header--device-padding {
					padding: 30px 0 0;

					&::after {
						margin-top: 15px;
					}

					span:not(.c-content-block__sub-header) {
						font-size: 28px;
						letter-spacing: 4.5px;
						display: block;
						padding-right: 30px;
					} // span

					span.c-content-block__sub-header {
						font-size: 18px;
						padding-right: 35px;
						color: #333;
						line-height: 20px;
						letter-spacing: 0.5px;
					} // span.c-content-block__sub-header
				} // .c-content-block__header--device-padding

				.c-content-block__body {
					.c-menu-item__content {
						p {
							span {
								&:not(.u-bold) {
									display: block;
									margin-top: 1rem;
									line-height: 20px;
								} // &:not(.u-bold)

								&.u-bold {
									font-family: $font-family-content;
									font-weight: 600;
								} // &.u-bold
							} // span
						} // p
					} // .c-menu-item__content
				} // .c-content-block__body
			} // .c-menu
		} // .menus-update

		.top-button {
			text-align: center;
			padding-bottom: 3em;
			display: block !important;

			&:hover {
				cursor: pointer;
			} // &:hover

			i {
				display: block;
				color: $color-gold;
				margin-bottom: .5rem;
			} // i

			span {
				color: $color-gold;
				text-transform: uppercase;
				font-size: 20px;
				font-family: $font-family-content-bold;
				letter-spacing: 2px;
			} // span
		} // .top-button

		footer {
			display: none;
		} // footer
	} // 735px

	.top-button {
		display: none;
	} // .top-button
} // .page-template-our-menus-dev




// MENU POPUP SECTION

$popupBreakPoint1: 750px;


.popup-section {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	overflow: hidden;
	padding: 20px 0;
	background-color: #a3bea7;
	z-index: 100;
	text-transform: uppercase;
	text-align: center;
	@media (max-width: $popupBreakPoint1) {
		text-align: left;
	}
	&.active{
		opacity: 1;
	}
	.o-wrapper {
		display: flex;
		justify-content: space-between;
		&:after {
			display: none !important;
		}
		@media (max-width: $popupBreakPoint1) {
			flex-direction: column-reverse;
		}
	}
	.close-button {
		position: relative;
		font-size: 30px;
		color: #fff;
		width: 30px;
		display: inline-block;
		float: right;
		cursor: pointer;
		@media (max-width: $popupBreakPoint1) {
			height: 30px;
			display: inline-block;
			margin-bottom: 1rem;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 30px;
			height: 1px;
			background: white;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
	}
	.popup-section__logo {
		position: relative;
		width: 30px;
		@media (max-width: $popupBreakPoint1) {
			display: none;
		}
		.popup-section__logo__image {
			position: absolute;
			height: 110px;
			left: -2rem;
			width: 119px;
			transform: translateY(-50%);
			top: 50%;
			opacity: .1;
		}
	}
	.popup-section__text {
		.title{
			display: inline-block;
			color: #fff;
			font-weight: 700;
			padding: 0 50px;
			text-transform: none;
			font-family: $font-family-header;
			letter-spacing: 4px;
			@media (max-width: $popupBreakPoint1) {
				padding: 0 50px 0 0;
				margin-bottom: 1rem;
			}
		}
		.button{
			display: inline-block;
			@media (max-width: $popupBreakPoint1) {
				display: block;
			}
			a{
				display: inline-block;
				color: #a3bea7;
				background: #fff;
				padding: 18px 55px;
				text-decoration: none;
			}
		}
	}
}

