.c-offerings {
    $_this: &;

    height: 140px;
    margin-bottom: $global-spacing-medium;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    @include mq($from: device) {
        height: inherit;
        left: 0;
        margin-bottom: 0;
        max-height: inherit;
        min-height: inherit;
        position: absolute;
        top: 0;
    }
    &__item {
        opacity: 0;
        position: absolute;
        transition-property: opacity;
        transition-duration: hero-setting(offerings-item-change-duration);
        transition-timing-function: $global-transition-easing;
        width: calc(100% - 40px);
        @include mq($from: device) {
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        &--initial {
            @include mq($from: device) {
                transition-delay: hero-setting(offerings-inital-delay);
            }
        }
        &--active {
            #{$_this} {
                &__line {
                    transform: none;
                    transition-property: none;
                }
            }
        }
    }
    &__line {
        @include title('medium', text-default('medium', spacing));
        color: $color-white;
        display: block;
        margin: 0 auto;
        opacity: 0;
        text-align: center;
        text-shadow: $global-text-shadow;
        transform: translate3d(0, 100%, 0);
        transition-delay: 0.2s;
        transition-property: opacity, transform;
        transition-duration: hero-setting(offerings-item-line-duration);
        transition-timing-function: $global-transition-easing;
        @include mq($from: device) {
            @include title('huge', text-default('huge', spacing));
            @media (max-height: 600px) {
                @include title('large', text-default('large', spacing));
            }
        }
        &:nth-child(2) {
            margin-bottom: $global-spacing-small;
            transition-delay: 0.2s;
        }
    }
}
