.c-hero {
    $_this: &;

    background-color: $color-white-dark;
    padding-top: $navbar-height;
    &--home {
        height: 100vh;
        @include mq($from: device) {
            min-height: 600px;
            max-height: 900px;
        }
        #{$_this}__inner {
            height: inherit;
            min-height: inherit;
            max-height: inherit;
            opacity: 0;
            padding-top: 0;
            transition-duration: hero-setting(fade-in-duration);
            transition-property: opacity;
            transition-timing-function: $global-transition-easing;
        }
    }
    &--visible {
        .c-offerings,
        .c-offerings__item--active,
        .c-offerings__line {
            opacity: 1;
        }
        #{$_this} {
            &__inner,
            &__branding {
                opacity: 1;
            }
            &__branding {
                .c-site-branding {
                    transform: scale(1);
                }
                &--min {
                    @include mq($from: device) {
                        top: calc(25% - #{$navbar-height});
                        transform: translate(-50%, 0);
                    }
                    .c-site-branding {
                        &__logo {
                        }
                    }
                }
            }
            &__background-image {
                transform: scale(1);
            }
        }
    }
    &--single {
        background-color: $color-primary;
        margin-bottom: $global-spacing-huge;
        position: relative;
        @include mq($until: device) {
            padding-bottom: $global-spacing-medium;
            padding-top: $navbar-height + $global-spacing-medium;
        }
        @include mq($from: device) {
            min-height: 480px;
        }
        #{$_this} {
            &__inner {
                @include mq($from: device) {
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0);
                }
            }
            &__tags,
            &__back-button {
                position: absolute;
                @include mq($from: device) {
                    bottom: $global-spacing-medium;
                }
            }
            &__tags {
                right: $global-spacing-medium;
                @include mq($until: device) {
                    display: none;
                }
            }
            &__back-button {
                left: $global-spacing-base;
                @include mq($from: device) {
                    left: $global-spacing-medium;
                }
                @include mq($until: device) {
                    top: ($navbar-height + $global-spacing-base);
                }
            }
        }
    }
    &__inner {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    &__text-content {
        height: inherit;
        left: 0;
        min-height: inherit;
        max-height: inherit;
        padding: ($navbar-height + 20px) 20px 20px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: z(foreground);
        @include mq($from: device) {
            padding: 0;
        }
    }
    &__gradient {
        height: 300px;
        left: 0;
        opacity: .5;
        position: absolute;
        width: 100%;
        &--bottom {
            @include linear-gradient(transparent, $color-black);
            bottom: 0;
        }
        &--top {
            @include linear-gradient($color-black, transparent);
            top: 0;
        }
    }
    &__background-image {
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: scale(1.1);
        transition-property: transform;
        transition-duration: hero-setting(background-resize-duration);
        transition-timing-function: $global-transition-easing;
        width: 100%;
    }
    &__branding {
        margin-bottom: $global-spacing-base;
        opacity: 0;
        text-align: center;
        @include mq($from: device) {
            left: 50%;
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .c-site-branding {
            transform: scale(0.9);
            transition-property: opacity, transform;
            transition-duration: hero-setting(logo-in-duration);
            transition-timing-function: $global-transition-easing;
            &__logo {
                fill: $color-white;
                filter: drop-shadow( $global-text-shadow );
                text-align: center;
            }
        }
        &--main {
            .c-site-branding {
                &--hide {
                    @include mq($from: device) {
                        opacity: 0;
                    }
                }
                &__logo {
                    height: 64px;
                    width: 166px;
                    @include mq($from: device) {
                        height: 95px;
                        width: 305px;
                    }
                }
            }
        }
        &--small {
            top: calc(25% - #{$navbar-height});
            transform: translate(-50%, 0);
            .c-site-branding {
                opacity: 0;
                @include mq($until: device) {
                    display: none;
                }
                &--show {
                    opacity: 1;
                }
                &__logo {
                    height: 64px;
                    width: 166px;
                }
            }
        }
    }
    &__title {
        @include title('large', text-default('large', spacing), normal, uppercase);
        color: $color-grey;
        margin-bottom: 0;
        text-align: center;
    }
    &__date {
        @include content($_size: 'base-alt');
        color: $color-white;
        padding-top: 25px;
    }
    &__booking {
        $_booking_bottom_spacing: $global-spacing-large;

        bottom: $_booking_bottom_spacing;
        display: none;
        left: 0;
        position: absolute;
        transition-property: transform;
        transition-duration: hero-setting(booking-form-in-duration);
        transition-timing-function: $global-transition-easing;
        width: 100%;
        @include mq($from: device) {
            display: block;
        }
        &--down {
            transform: translate3d(0, ($_booking_bottom_spacing + 60px), 0);
        }
    }
    &__links {
        display: block;
        text-align: center;
        @include mq($from: device) {
            display: none;
        }
        .o-list__item {
            margin: $global-spacing-base 0;
            text-align: center;
        }
        .o-list__link {
            @include link();
            color: $color-white;
        }
    }
}
