@font-face {
	font-family: 'Altissima';
	src: url('../fonts/Altissima-CondensedRegular.eot');
	src: url('../fonts/Altissima-CondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Altissima-CondensedRegular.woff') format('woff'),
		url('../fonts/Altissima-CondensedRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Vinny-bold';
	src: url('../fonts/Vinny-Bold.eot');
	src: url('../fonts/Vinny-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Vinny-Bold.woff') format('woff'),
		url('../fonts/Vinny-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Vinny-light';
	src: url('../fonts/Vinny-Light.eot');
	src: url('../fonts/Vinny-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Vinny-Light.woff') format('woff'),
		url('../fonts/Vinny-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
