.c-detail-page {
    $_this: &;

    @include mq($from: device) {
        margin-top: -#{$navbar-height};
    }
    &__block-content {
        flex-basis: auto;
        margin-bottom: 30px;
        @include mq($from: palm) {
            margin-bottom: 50px;
            padding-left: 30px;
            padding-right: 30px;
            width: 50%;
        }
        @include mq($from: desk) {
            width: 33%;
        }
        @include mq($from: largeDesk) {
            padding-left: 50px;
            padding-right: 50px;
        }
        &--double {
            @include mq($from: desk) {
                width: 66%;
            }
        }
    }
    &__header {
        min-height: 480px;
        position: relative;
    }
}
