.c-detail-list {
    $_this: &;

    color: $color-primary;
    padding-top: $global-spacing-huge;
    @include mq($from: device) {
        padding-bottom: $global-spacing-huge;
    }
    &--peek-our-restaurants,
    &--our-restaurants {
        color: $color-white;
        #{$_this}__item {
            &:first-child {
                color: $color-white;
            }
        }
    }
    &--peek-our-restaurants {
        padding-top: 0;
    }
    &__title {
        @include title('medium', text-default('medium', spacing), normal, uppercase);
        color: $color-gold;
        padding-bottom: $global-spacing-large;
        text-align: center;
    }
    &__item {
        color: inherit;
        margin-bottom: $global-spacing-base;
        &:first-child {
            color: $color-grey;
            margin-bottom: $global-spacing-large;
        }
    }
    &__link {
        @include link();
        color: inherit;
    }
    &__list {
        @include mq($until: device) {
            margin-bottom: $global-spacing-huge;
        }
    }
}
