.c-detail-header {
    $_this: &;

    @include mq($from: device) {
        margin-bottom: 40px;
    }

    &--loading {
        #{$_this}__content {
            @include mq($from: device) {
                opacity: 0;
                transform: translate3d(0, $global-spacing-huge * 2, 0);
            }
        }
        #{$_this}__background-image,
        .c-hero__gradient {
            @include mq($from: device) {
                opacity: 0;
            }
        }
    }
    &__background-image {
        background-size: cover;
        background-position: center center;
        height: 250px;
        width: 100%;
        @include mq($from: device) {
            bottom: 0;
            height: auto;
            left: 0;
            opacity: 1;
            position: absolute;
            right: 0;
            top: 0;
            transition-property: opacity;
            transition-duration: 1s;
            transition-timing-function: $global-transition-easing;
            width: auto;
        }
    }
    &__wrapper {
        @include mq($from: device) {
            margin-bottom: $global-spacing-huge;
            padding-top: $global-spacing-huge * 2;
        }
    }
    &__content {
        @include content($_line-height: $font-line-height-base);
        @include h-center;
        background-color: $color-grey;
        color: $color-white;
        margin-top: $navbar-height;
        padding: 50px;
        position: relative;
        z-index: z(base);
        @include mq($from: device) {
            max-width: 660px;
            opacity: 1;
            padding: 50px 70px;
            transform: translate3d(0, $global-spacing-huge, 0);
            transition-property: opacity, transform;
            transition-duration: 1s;
            transition-delay: 0.2s;
            transition-timing-function: $global-transition-easing;
        }
        &:before {
            @include mq($until: desk) {
                border: 4px solid $color-white;
                bottom: 20px;
                content: '';
                left: 20px;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
    }
}
