.c-menu {
    $_this: &;

    background-color: $color-white;
    border: solid 1px $color-white-darker;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
    display: none;
    margin-top: 20px;
    padding: $global-spacing-medium;
    @include mq($from: device) {
        margin-top: 70px;
    }
    &--active {
        display: block;
    }

    &__logo,
    &__roundel {
        @include h-center;
        display: block;
        margin-top: $global-spacing-large;
        opacity: 0.1;
    }
    &__logo {
        height: 32px;
        max-width: 103px;
    }
    &__roundel {
        max-width: 119px;
    }
}


.c-navbar{
    &.c-navbar--peek{
        background: $color-green-dark;
    }
}
