.c-menu-page {
    &__menu-names .desktop-menus{
        display: none !important;
        @media screen and (min-width:735px ){

            display: inline-block !important;
        }
    }
    &__menu-names .mobile-menu{
        .c-form__dropdown-selected{
            text-align: left;
        }

        .c-btn.c-btn--dim.c-btn--fluid.o-button-group__item{
            text-align: left;
            margin: 0;
            &:last-child{
                border-bottom: 5px solid #c8c8cc;
            }
        }
    }
    &__menu-locations {
        margin-bottom: $global-spacing-huge;
    }
    &__menu-names,
    &__menu-block {
        display: none;
        &--active {
            display: block;
        }
    }
}
