.c-menu-item {
    align-items: top;
    color: $color-black-light;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.5;
    &__content {
        @include content($_line-height: $font-line-height-base);
        margin-right: $global-spacing-base;
    }
}
