/* ==========================================================================
   Styleguide settings - TEMP (TO BE REMOVED ONCE SITE IS BUILT)
   ========================================================================== */

$styleguide-title-color: #999999;
$styleguide-code-background: #ffffcc;

$styleguide-font: Arial, Arial, Helvetica, sans-serif;
$styleguide-code-font: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console";
