///* ========================================================================
//   # COLORS
//   ======================================================================== */

// --- TONES ---
$color-white-darker: #e4e4e4;
$color-white-dark: #f6f6f9;
$color-white: #ffffff;

$color-black: #000000;
$color-black-light: #333333;

$color-grey-dark: #515151;
$color-grey: #7c7c81;
$color-grey-light: #a3a3a7;
$color-grey-lighter: #c8c8cc;

// --- BASE COLORS ---
$color-green-dark: #adc6b0;
$color-green: #c5d7c7;

$color-pink-dark: #db9c97;
$color-pink: #e5b9b6;

$color-purple: #a44a61;

$color-blue-dark: #b9c1d6;
$color-blue: #ced3e2;
$color-blue-light: #c6cde0;

$color-yellow: #f5be73;

// Specials
$color-gold: #b79b35;
$color-gold-light: #B6AEA5;

// --- THEME COLORS ---
$color-primary: $color-grey;

// --- COLORS MAP ---
$map-core-colors: (
    "primary": $color-primary,
    "white-darker": $color-white-darker,
    "white-dark": $color-white-dark,
    "white": $color-white,
    "black": $color-black,
    "black-light": $color-black-light,
    "grey-dark": $color-grey-dark,
    "grey": $color-grey,
    "grey-light": $color-grey-light,
    "grey-lighter": $color-grey-lighter,
    "green-dark": $color-green-dark,
    "green": $color-green,
    "pink-dark": $color-pink-dark,
    "pink": $color-pink,
    "purple": $color-purple,
    "blue-dark": $color-blue-dark,
    "blue": $color-blue,
    "blue-light": $color-blue-light,
    "yellow": $color-yellow,
    "gold": $color-gold
);
